// Radius
$button-radius: 42px;
$field-radius: 200px;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
// $desktopWide: 1440px;

// Colors
$accent: #f3f3f3;
$accent-faded-50: rgba($accent, 0.5);
$accent-faded-20: rgba($accent, 0.2);
$black: #0a0a11;
$dark-blue: #161f37;
$dark-blue-faded: #434d67;
$slate-blue: #434d67;
$blue: #4070cd;
$blue-faded: rgba($blue, 0.5); // #4070CD80;
$light-green: #bce6d2;

.button {
  padding: 18px 44px;
  border-radius: $button-radius;
  border: 1px solid $accent;

  font-size: 1rem;
  font-weight: 600;

  color: $off-white;
  background-color: $dark-blue;

  &:hover,
  &:focus {
    color: $dark-blue;
    background-color: $off-white;
  }

  &:active,
  &:disabled {
    color: $accent-faded-20;
    background-color: $dark-blue-faded;
  }
}

.button--accented {
  color: $dark-blue;
  background-color: $off-white;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    color: $off-white;
    background-color: $dark-blue;
  }

  &:active {
    border: 2px solid $blue-faded;
  }

  &:disabled {
    color: $accent-faded-20;
    background-color: $dark-blue-faded;
  }
}

.icon-button {
  border-radius: 50%;
  padding: 15px;
}
