/* @import-normalize; */

:root {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  -moz-tab-size: 2;
  tab-size: 2;

  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  /* Firefox: */
  scrollbar-width: thin;
}

/* ::-webkit-scrollbar {
  width: 5px;
  background-color: GhostWhite;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 12px;
} */

ul {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  --d: 200ms;
  --tf: linear;

  transition: color var(--d) var(--tf), background-color var(--d) var(--tf),
    transform var(--d) var(--tf);

  font-family: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}
